# APP
NODE_ENV="development"
PORT="3000"
SERVER_URL="http://localhost:3000"
CORS_ORIGIN="http://localhost:3000"

# DATABASE
DATABASE_URL="mongodb://auth-mongodb-service:27017/auth"

# AUTHENTICATION
JWT_SIGN_KEY="" # Can be generated with openssl rand --base64 32


